.Main{
    display: grid;
    grid-template-columns: 1, 100%;
    min-width: 393px;
    max-width: 393px;
    min-height: 852px;
    max-height: 852px;
    overflow: hidden;
    background-color: black;
    margin: 0;
}

h3 {
    color: white;
}



