.Main{
    display: grid;
    grid-template-columns: 1, 100%;
    min-width: 393px;
    max-width: 393px;
    min-height: 852px;
    max-height: 852px;
    overflow: hidden;
    background-color: black;
    margin: 0;
}

.title{
    padding-top: 10px;
}

h3 {
    color: white;
}

p {
    color: white;
}

.videoContainer{
    display: grid;
    background-color: black
}

iframe {
    width: 300px;
    height: 200px;
}



